/* GLOBAL */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clear{
    clear: both;
}

html{
    font-size: 16px;
    /* 1rem = 16px */
    /* if we don't declare font-size of html */
    /* 1rem = 16px */
}

body{
    font-family: "Montserrat", sans-serif;
    color: #212529;
    background-color: #fff;
    letter-spacing: 1px;
}

button{
    font-size: 0.875rem;
    background-color: #ff0e83;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 13px 32px;
    cursor: pointer;
    letter-spacing: 1px;
}

button:hover{
    background-color: white;
    color: black;
    border-color: #ff0e83;
    transition: all .5s;
}

/* HEADER */
header{
    background-color: #4e2a84;
    padding: 20px;
}

.header__content{
    width: 70%;
    margin: 0 auto;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header__content ul{
    list-style: none;
}

.header__content li{
    display: inline;
    margin: 0 1rem;
}

.header__content ul a{
    text-decoration: none;
    color: white;
    font-size: 0.75rem;
    font-weight: 600;
    letter-spacing: 2px;
    /* transition-property: all;
    transition-duration: 0.5s;
    transition-delay: 0s;
    transition-timing-function: linear; */
    transition: all 0.5s;
}

.header__content ul a:hover{
    color: #ff0e83;
}

.header__content p{
    color: white;
    /* font-size: 37px; */
    font-size: 2.3rem;
    display: inline;
    font-weight: 530;
}

.header__content ul .active a{
    color: #ff0e83;
}

/* CAROUSEL */
.carousel{
    background-image: url("../img/b3.jpg");
    height: 800px;
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel h1{
    font-size: 3.5rem;
}

.carousel p{
    font-size: 1.1rem;
    padding: 23px 0;
}
