/* GLOBAL */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: 'Work Sans', serif;
}

.heading{
    text-align: center;
    margin-bottom: 3rem;
}
.heading h2{
    font-size: 40px;
    font-weight: bold;
    color: #ff4f81;
    letter-spacing: .5px;
    text-transform: uppercase;
}
.heading p{
    font-size: 17px;
    letter-spacing: 4px;
    color: black;
    text-transform: capitalize;
}
.heading p::after{
    content: '';
    display: block;
    width: 70px;
    height: 2px;
    background-color: black;
    margin: 20px auto;
}

.heading--white p{
    color: white;
}

.section{
    padding: 5rem 0;
}

/* HEADER */
.header__top{
    background-color: #ff4f81;
    font-size: 14px;
}

.header__top a{
    text-decoration: none;
    color: white;
}

.header__left a{
    transition: all .5s;
}
.header__left a:hover{
    color: black;
}

.header__right a{
    width:30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: black;
    border: 1px solid black;
    display: inline-block;
    margin-left: .25rem;
    transition: all .5s;
}
.header__right a:hover{
    background-color: #ff4f81;
    border-color: white;
}

.navInstruction a{
    color: black;
}

.navInstruction .navbar-brand p:first-child{
    font-size: 36px;
}

.navInstruction .navbar-brand p:first-child i{
    transform: skewX(-10deg);
}

.navInstruction .navbar-brand p:last-child{
    font-size: 11px;
    letter-spacing: 3px;
    color: #ff4f81;
    font-weight: bold;
}

#navbarInstruction .nav-item{
    margin: 0 15px;
}

#navbarInstruction .nav-link{
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    transition: all .5s;
}
#navbarInstruction .nav-item:hover .nav-link{
    color: #ff4f81;
}

#navbarInstruction .nav-item::after{
    content: '';
    width: 0;
    height: 2px;
    background-color: #ff4f81;
    display: block;
    transition: all .5s;
}
#navbarInstruction .nav-item:hover::after{
    width: 100%;
}

#navbarInstruction .nav-item.active .nav-link{
    color: #ff4f81;
}
#navbarInstruction .nav-item.active::after{
    width: 100%;
    background-color: #ff4f81;
}

#navbarInstruction .dropdown-menu{
    background-color: rgba(0, 0, 0, 0.6);
}
#navbarInstruction .dropdown-item{
    color: white;
    transition: all .5s;
}
#navbarInstruction .dropdown-item:focus, #navbarInstruction .dropdown-item:hover{
    background-color: transparent;
    color: #ff4f81;
}

/* CAROUSEL */
#carouselInstruction .carousel-caption{
    /* chi ap dung voi tag co position: absolute; */
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#carouselInstruction .carousel-caption h1{
    font-size: 52px;
}

#carouselInstruction .carousel-caption p{
    letter-spacing: 4px;
    line-height: 1.8rem;
    width: 70%;
    font-weight: 300;
    margin: 0 auto;
    margin-bottom: 25px;
}

#carouselInstruction .carousel-caption button{
    padding: 11px 20px;
    color: white;
    border: 1px solid white;
    border-radius: 0;
    letter-spacing: 2px;
    font-size: 14px;
    transition: all .5s;
}

#carouselInstruction .carousel-caption button:hover{
    background-color: #ff4f81;
    border-color: #ff4f81;
}

/* WELCOME */
.welcome__content>p{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    font-size: 15px;
    letter-spacing: 1px;
    /* 1em = 15px */
    line-height: 1.8em;
    color: #999;
    padding: 1rem 0 5rem;
}
.welcome__col {
    padding: 2rem;
}

.welcome__item i{
    font-size: 2rem;
}
.welcome__item h3{
    color: #ff4f81;
    font-weight: bold;
    font-size: 1.8rem;
    margin: 1rem 0;
}
.welcome__item h4{
    color: black;
    font-weight: bold;
    font-size: 1rem;
    margin: 1rem 0 .2rem;
}
.welcome__item p{
    color: #999;
    font-size: 15px;
    line-height: 1.8em;
    margin: 10px 0 0;
    letter-spacing: 1px;
}

/* OUR STATS */
.ourStats{
    background-image: url(../img/banner2.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.ourStats__content {
    text-align: center;
    color: white;
}

.ourStats__item i{
    font-size: 2.5rem;
}

.ourStats__item h3{
    font-size: 1.3rem;
    font-weight: bold;
    color: #ff4f81;
    letter-spacing: 3px;
    margin: 30px 0 20px ;
}

.ourStats__item p{
    font-size: 3rem;
    letter-spacing: 2px;
    font-weight: 300;
}

/* OFFER */
.offer__col{
    padding: 15px;
}

.offer__item {
    padding: 25px 40px;
    box-shadow: 0px 1px 8px 0px rgba(158, 158, 158, 0.75);
    text-align: center;
    background-color: white;
    transition: all .5s;
}

.offer__item:hover{
    background-color: #12ccc3;
}

.offer__item i{
    color: #ff4f81;
    font-size: 40px;
}

.offer__item h3{
    font-size: 20px;
    color: black;
    margin: 25px 0 20px;
}

.offer__item p{
    color: #6b6b6b;
    font-size: 14px;
    letter-spacing: 0.5px;
}
